Version 6.0;

PList hcc2_nr_bf_plist [DefaultPListPinMask apg_dataout_pins]
{              
    Pat regular_reset_seq_redun0;
	Pat unmasking_hcc2_zid_setup;
	Pat rdwr_assist_hcc2_nr;
	Pat nr_marchcm_cb_fx_2c_zid10;
	Pat inverted_onebit_2c_zid10;
}
PList hcc2_nr_precond_plist
{              
    Pat regular_reset_seq_redun0;
    Pat rdwr_assist_hcc2_nr;
}
PList hcc2_nr_raster_left_plist [DefaultPListPinMask xstokl,HCC2_masked_right]
{              
	Pat nr_marchcm_cb_fx_2c_setz;
}
PList hcc2_nr_raster_right_plist [DefaultPListPinMask xstokl,HCC2_masked_left]
{              
	Pat nr_marchcm_cb_fx_2c_setz;
}