<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
	<add key="HDMTOS" value = "\\datagroveaz.ch.intel.com\sttd\HDMT\TOS\Customer\TOSAppsRepository\TOS_Engineering_Release\hdmtOS_4.0.0.0_PPR3" />
	<add key="PrimeEng" value="\\amr\ec\proj\mdl\jf\intel\tpapps\PrimeNuGet\Engineering" />
    <add key="PrimeFeed" value="\\amr.corp.intel.com\ec\proj\mpe\MIT_ATE_TM\NuGets" />
	<add key="PrimeTraceId" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\TRACE\Nuget\Prod" />
	<add key="MPE_MIT" value="\\amr.corp.intel.com\ec\proj\MDO\Global\MIG\MIT" />
  </packageSources>
  <config>
  	<add key="globalPackagesFolder" value=".\temp\packages" />
  </config>
  <packageSourceMapping>
    <packageSource key="nuget.org"><package pattern="*" /></packageSource>
    <packageSource key="PrimeEng"><package pattern="*" /></packageSource>
    <packageSource key="PrimeFeed"><package pattern="*" /></packageSource>
    <packageSource key="PrimeTraceId"><package pattern="*" /></packageSource>
    <packageSource key="MPE_MIT"><package pattern="*" /></packageSource>
  </packageSourceMapping>
</configuration>